<div>
  <h1 style="text-align: center; color: rgb(1, 58, 243);">Contact Us</h1>
  </div>
  <hr>



  <div class="container" style="background-color: cadetblue;">

      <form action="action_page.php">

        <label for="fname">First Name</label>
        <input type="text" id="fname" name="Enter Name" placeholder="Enter First Name">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Enter Last Name">

        <label for="State">State</label>
        <select id="State" name="State">
          <option value="selectstate">--Select State--</option>
          <option value="Maharashtra">Maharashtra</option>
          <option value="Delhi">Delhi</option>
          <option value="Telangana">Telangana</option>
          <option value="Andhra Pradesh">Andhra Pradesh</option>
          <option value="Tamilnadu">Tamilnadu</option>
          <option value="kerala">Kerala</option>

        </select>
        <label for="lname">Email Id</label>
        <input type="text" id="lname" name="lastname" placeholder="xyz@gmail.com">

        <label for="subject">Message</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>



        <input type="submit" value="Submit">

      </form>
    </div>
