<div class="about-section">
  <h1>About Us</h1>
  <p>The main objective of this project is to build a website which will help farmers from Indian villages to sell their products. Here if suppose some village farmers want to use this facility and want to learn how is it possible and how they can use e-farming to sell their products.E-farming is the web application that will help the
    farmers to perform the agro-marketing leading to achieve
    success and increase in their standard of living. The
    Marketing facility would allow the farmers to have a
    view of the bills created and the related information in
    their accounts.</p>


</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">

      <div class="container">
        <h2>Surendra Maurya</h2>
        <p class="title">Graduate Engineer Trainee</p>

        <p>surendrakumar.maurya@lntinfotech.com</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">

      <div class="container">
        <h2>Riya Ajmeri</h2>
        <p class="title">Graduate Engineer Trainee</p>

        <p>riya.ajmeri@lntinfotech.com</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">

      <div class="container">
        <h2>Harsha Vardhan</h2>
        <p class="title">Graduate Engineer Trainee</p>

        <p>cherukuwada.harshavardhan@lntinfotech.com</p>

      </div>
    </div>
  </div>
</div>

<div class="column">
  <div class="card">

    <div class="container">
      <h2>Yashwanth Kumar</h2>
      <p class="title">Graduate Engineer Trainee</p>

      <p>yashwanth1.kumar@lntinfotech.com</p>

    </div>
  </div>
</div>


<div class="column">
  <div class="card">

    <div class="container">
      <h2>Amarnath Miryala</h2>
      <p class="title">Graduate Engineer Trainee</p>

      <p>amarnath.miryala@lntinfotech.com</p>

    </div>
  </div>
</div>
