<!-- <a routerLink='register/farmer'>Register</a> | <a routerLink='login'>Login</a> -->
<!-- <app-home></app-home> -->
<router-outlet></router-outlet>

<!-- <app-farmer-welcome></app-farmer-welcome> -->
<!-- <app-farmer-sellrequest></app-farmer-sellrequest> -->
<!-- <app-farmer-soldhistory></app-farmer-soldhistory> -->
<!-- <app-market-place></app-market-place> -->
<!-- <app-bidder-welcome></app-bidder-welcome> -->
<!-- <app-market-place></app-market-place> -->


<!-- <app-admin-dashboard></app-admin-dashboard> -->
